.Card{
    margin: auto;
    border: #2874A6 4px solid;
    background-color: #BFC9CA;
    width: 25rem;
    margin-top: 2.5rem;
    height: 7rem;
    border-radius: 10px;
    display: flex;
    
}

.Card:hover{
    filter: brightness(0.9);
    cursor: pointer;
    border-color: #2ECC71;
}

.Imagem {
    width: 50%;
    height: auto;
}

.Imagem img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 0.4rem;
}

.Info{
    justify-content: center;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.Info strong {
    color: #222;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;    
}

.Info p{
    color: #2874A6;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0; 
}
