.CardRepo {
    margin: 1.4rem;
    margin-top: 2.5rem;
    width: 30rem;
    height: auto;
    border: 5px solid #3B89BD;
    background-color: #fff;    
    border-radius: 10px;
    display: flex;
    justify-content: center;    
    transition: 0.4s;
    align-items: center;
}

.CardRepo:hover {
    filter: brightness(0.9);
    cursor: pointer;
    border-color: #2ECC71;
}

.CardRepo p {
    color: #222;
    font-size: 1rem;
}

.CardRepo strong {
    color: #222;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
